* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 600px) {
.column.side, .column.middle {
  width: 100%;
  }
}

body {
  margin: 0px;
}

.pictures {
  float: center;
}

/* Styles for the Heading*/
.heading {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #0c2340;
  padding: 100px;
  height: 350px;
}

.mainlogo {
  float: left;
  width: 200px;
}

.Logo1{
  width: 200px;
  float: left;
}

/* Navigation Bar*/
.navbar {
  padding: 10px;
  background-color: #b5b7b8;
}

.navbar a{
  color: black;
  padding: 13px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.title {
  text-align: center;
}

/*Columns of the Main Page*/
.column {
  float: left;
  background-color: #ffffff;
  padding: 10px;
}


.column1{
  float: left;
  padding: 10px;
  margin: 2%;
  width: 29.33%;
  background-color: #b5b7b8;
}

.column2{
  float: left;
  padding: 10px;
  margin: 2%;
  width: 29.333%;
  background-color: #b5b7b8;
}

.column3{
  float: left;
  padding: 10px;
  margin: 2%;
  width: 29.33%;
  background-color: #b5b7b8;
}

.maincolumn{
  padding:20px;
  width: 100%;
  height: 35%;
}


/* Projects  and Notes Page Styling*/
.side {
  padding: 20px;
  background-color: #b5b7b8 ;
  width: 25%;
  height:80%;
}

.column.middle{
  padding: 20px;
  width: 75%;
}

/* footer Styling*/

.column.footer {
  color: #ffffff;
  float: left;
  width: 100%;
  background-color: #0c2340;
}

.Logo2{
  float: left;
  margin: 20px;
  width: 200px;
}

/* Schedule Page*/
.list{
  list-style-type: none;
  text-align: center;
  margin: 10px;;
  padding: 0;
  width: 50%;
  height: 150px;
  background-color:  #b5b7b8;
}

.list a {
  display: block;
  color: black;
  padding: 20px 0px;
  text-decoration: none;
}

.list a:hover {
  padding: 10px;
  color: black;
  background-color: #ddd;
}

/*Week*/

/*Boxes styles*/

  .box{
    border-style: solid;
    border-color:#b5b7b8 10px;
    margin-left: 10%;
    margin-right: 10%;
    float: center;
  }

  .subtitle{
    text-align: center;
  }

.pic{
  width: 20.333%;
  margin-left: 6%;
}

/* Participtant Page */
.camper{
  border-style: solid;
  border-color: black;
  float: left;
  margin-left: 5%;
  margin-right: 0%;
  width: 30%;
  padding: 15px;
}