* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  @media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
    }
  }
  
  body {
    margin: 0px;
  }
  
  .pictures {
    float: center;
  }
  
  /* Styles for the Heading*/
  .heading {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    background-color: #0c2340;
    padding: 100px;
    height: 350px;
  }
  
  .mainlogo {
    float: left;
    width: 200px;
  }
  
  .Logo1{
    width: 200px;
    float: left;
  }
  
  /* Navigation Bar*/
  .navbar {
    padding: 10px;
    background-color: #b5b7b8;
  }
  
  .navbar a{
    color: black;
    padding: 13px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .title {
    text-align: center;
  }
  
  /*Boxes styles*/

  .box{
    border-style: solid;
    border-color:#b5b7b8 10px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .subtitle{
    text-align: center;
  }
  
  /* footer Styling*/
  
  .column.footer {
    color: #ffffff;
    float: left;
    width: 100%;
    background-color: #0c2340;
  }
  
  .Logo2{
    float: left;
    margin: 20px;
    width: 200px;
  }
  
  
